.cards-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 350px;
  background-color: #f5e2cb;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 0;
  position: relative;
}

.card-text {
  padding-top: 40px;
  text-align: center;
  background-color: #f5e2cb;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: #713d11;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.card img {
  max-width: 45%;
  max-height: 45%;
  object-fit: contain;
  margin: 65px auto 0;
}

.card h3 {
  margin-top: 10px;
  font-size: 30px;
  color: #713d11;
}

@media (max-width: 1200px) {
  .card {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .card {
    width: 80%;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .card {
    width: 90%;
    margin-bottom: 20px;
    height: 350px;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  .card-text {
    padding-top: 0px;
    font-size: 16px;
  }

  .card h3 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 95%;
    height: 300px;
  }

  .card h3 {
    font-size: 20px;
  }

  .card-text {
    font-size: 14px;
  }
}
